In [ ]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_excel('needed_income-of-tax-payers.xlsx', skiprows=1)
df.set_index(['area'], inplace=True)
df.head()

In [ ]:
pip install openpyxl

In [ ]:
# Split the DataFrame into 5 separate DataFrames and store them in a list
dfs = [df.iloc[:, i:i+3] for i in range(0, df.shape[1], 3)]

years_to_have = [1999, 2002, 2008, 2014, 2019]

for i in range(len(dfs)):
    dfs[i].columns = ['Number of Individuals', 'Mean £', 'Median £']
    dfs[i]['year'] = years_to_have[i]

# Concatenate the DataFrames vertically to get a 500x3 DataFrame
new_df = pd.concat(dfs, axis=0).reset_index(drop=False)

In [ ]:
new_df.sort_values(['year', 'area'], inplace=True)
new_df.reset_index(inplace=True, drop=True)
new_df['area'] = new_df['area'].str.lower()
new_df

In [ ]:
df = pd.read_csv('test.csv')
df.sort_values(['year', 'area'], inplace=True)
df.drop(['year', 'date'], inplace=True, axis=1)
df = df.rename(columns={'area': 'area1'})

df

In [ ]:
temp = pd.concat([new_df, df], axis=1)
temp.head(10)

In [ ]:
temp.to_csv("Complete_dataset.csv")